.services__cards-container {
    display: grid;
    justify-content: center;
    margin: 0 24px;
    row-gap: 24PX;
}

/*Media Query, cuando la pantalla sea más grande 768px*/
@media (width > 769px){
    .services__cards-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

/*Media Query, cuando la pantalla sea más grande 1025px*/
@media (width > 1025px){
    .services__cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*=============
    Cards
=============*/

.card{
    text-align: center;
    border: 1px solid var(--tertiary-950);
    border-radius: 4px;
    padding: 0 16px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.4);
}

.card:hover{
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.8);
    transform: translateY(-2px);
}

/*=============
    Íconos
=============*/
.card__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.card__icon--main{
    height: 48px;
    width: 48px;
}

.card__icon--secundary{
    height: 36px;
    width: 36px;
}

/*==================
    Breakpoint
  ==================*/
/*
    sm 640px Teléfonos grandes
    md 768px  Tablets
    lg 1024px  Laptops
    xl 1280px  Escritorio
    2x1 1536px  Pantallas grandes
    */

